{% extends 'orders/header.html' %} {% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3>Our Shop Hours</h3>
                </div>
                <div class="row justify-content-center">
                    <p>Saturday-Sunday 10AM - 3AM</p>
                </div>
                <div class="row justify-content-center">

                    <p>Monday - Friday 24 Hours</p>

                </div>

                <hr>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <p>Aliquam erat volutpat. Proin scelerisque, libero a lobortis vulputate, nibh nisi dictum nisl, ut pharetra turpis enim quis mauris. Pellentesque vel lobortis magna, vel semper justo. Maecenas felis turpis, hendrerit eu ornare eu,
                            laoreet non elit. Nullam vel mattis est, elementum dictum diam. Aliquam mattis non sem et sollicitudin. Maecenas vestibulum et libero sed tristique. Proin in tellus eget diam pulvinar malesuada posuere nec orci. Lorem ipsum
                            dolor sit amet, consectetur adipiscing elit.</p>

                        <p>Nam sed felis orci. Maecenas placerat lacus non blandit aliquet. Sed vitae efficitur nibh. In ultricies, nisi in tempor tempus, nisl elit porttitor lorem, vel molestie ligula massa sed nulla. Ut sodales mattis luctus. Vestibulum
                            ut aliquam purus, vestibulum auctor mauris. Integer lacinia enim nec lobortis sollicitudin. Nam tempus odio dolor, sit amet convallis libero elementum commodo. Mauris bibendum mauris et mauris pulvinar, tincidunt imperdiet
                            risus lacinia. Nulla efficitur scelerisque lorem ac euismod. Donec ut lorem eleifend, mollis nulla ac, vulputate enim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}